body {
    padding-top: 5rem;
}

form h1{
    padding-bottom: .5em;
    border-bottom: solid .08rem;

}
div.contactform label{
    font-weight: bold;
}


div.contactform form{
    display: flex;
    flex-flow: column wrap;
}

.btn{
    color: cyan;
    border-radius: 5px;
    width: 20%;
}